.AddButton {
  display: block;
  margin-top: 2vh;
}

.add-icon {
  font-size: 3rem;
  color: rgb(0, 216, 0);
  svg {
    filter: drop-shadow(2px 2px 2px black);
  }
  :active {
    color: rgb(0, 102, 0);
  }
  :visited {
    color: rgb(0, 216, 0);
  }
}

.add-icon svg:active {
  filter: none;
}